﻿@{
    ViewBag.Title = "Role List";
}

<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Role List </h3>
    <div class="btn-add-partial"><a href="@Url.Action("SaveRole")" class="btn btn-default">Add Role</a></div>
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>Role Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.RoleList.Count > 0)
                                {
                                    foreach (var item in ViewBag.RoleList)
                                    {
                                        <tr>
                                            <td> @item.RoleName</td>
                                            <td>
                                                <abbr title="Edit"><a href="@Url.Action("SaveRole", "Account", new { roleId = item.Id })" class="btn btn-default" title="Edit"><i class="fa fa-pencil fa-fw"></i></a></abbr>
                                                <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@item.Id,'DeleteRole')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>
@section scripts{
    <script>
        $(function () {
            $('.dataTables').dataTable();
        });
    </script>
}

