﻿@model IEnumerable<ERP.INFRASTRUCTURE.Salary>

@{
    ViewBag.Title = "Salary List";
}
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Salary List</h3>
    <div class="btn-add-partial">
        <a href="@Url.Action("SaveAdvancedSalary")" class="btn btn-danger open-modal" id="advSalary">
            Advanced Salary
        </a>
        <a href="@Url.Action("SaveSalary")" class="btn btn-default open-modal" id="addSal">
            Add Salary
        </a>
        <button value="print" class="btn btn-default" onclick="PrintTable('printedobject', tableheader, desiredColumn, printTitle, orgName, orgAddress, username, imgUrl, itemPerPage, serial)" title="Print"><i class="fa fa-print"></i></button>
    </div>
</div>
<div class="printedobject" style="display: none">
    @Html.Raw(Json.Encode(Model))
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(x => x.EmployeeName)</th>
                                    <th>Salary Type</th>
                                    <th>@Html.DisplayNameFor(x => x.Month)</th>
                                    <th>@Html.DisplayNameFor(x => x.TotalSalary)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.EmployeeName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.SalaryTypeName)</td>
                                            
                                            <td>@Html.DisplayFor(modelItem => item.MonthName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.TotalSalary)</td>
                                            <td>
                                                <abbr title="Edit"><a href="@Url.Action("SaveSalary", new { id = item.Id })" class="btn btn-default editSal" title="Edit"><i class="fa fa-pencil fa-fw"></i></a></abbr>
                                                <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@item.Id,'DeleteSalary')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>


                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>

@section scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script>

        $(function () {
            $('.dataTables').dataTable();
        });
       
        $('.open-modal').on("click", function (e) {

            $('.PartialModalContainer').load(this.href, function () {
                $('.PartialModal').modal({
                    keyboard: true
                }, 'show');

            });

            return false;

        });
        $('.editSal').on("click", function (e) {
            console.log(this.href);
            $('.PartialModalContainer').load(this.href, function () {
                $('.PartialModal').modal({
                    keyboard: true
                }, 'show');

            });
            $(function () {
                $('.datepicker').datepicker({ autoclose: true }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });
            });
            return false;
        });

        $(document).on('click', '#closeModal', function () {
            window.location.replace('@Url.Action("SalaryList","Salary")');
        });


        $(document).ready(function () {

            $(document).on('focus', '.datepicker', function () {
                $(this).datepicker({ autoclose: true, todayHighlight: true, dateFormat: "dd/MM/yy" }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });

            });

        });

    </script>
}




