﻿@{
    ViewBag.Title = "Index";
}
<h2>Data Base Back Up</h2>
<div class="FlashMessage"></div>
<div class="row">
    <div class="col-md-6 col-md-offset-1" style="margin-top: 10px">
        <button onclick="ConfirmOperation(0, 'DataBaseBackUp/DBBackUp', 'Are you sure you want to Take Back Up?')" class="btn btn-default editBM" title="Clear Data">
            <i class="fa fa-database"></i>Db Back Up
        </button>
    </div>

</div>

@*<div class="row">
    <div class="col-md-6 col-md-offset-1" style="margin-top: 10px">
        <button onclick="ConfirmOperation(0, 'DataBaseBackUp/ClearAllData', 'Are you sure you want to Take Back Up?')" class="btn btn-default editBM" title="Clear Data">
            <i class="fa fa-trash-o"></i>Clear All Data
        </button>
    </div>
    
</div>*@

@if (ViewData["Message"] == "success")
{<div>Data base Back Up successfully</div>}


