﻿<tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
        <button class="btn btn-default" onclick="DeleteRow()">Delete</button>
    </td>
</tr>