﻿@model ERP.INFRASTRUCTURE.Area
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">X</button>
            <h3>Save Area</h3>
        </div>
        @using (Ajax.BeginForm("SaveArea", "Settings", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess(data)", InsertionMode = InsertionMode.Replace, UpdateTargetId = "target" }, new { @id = "DialogForm1" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="FlashMessage"></div>
                     @Html.HiddenFor(model => model.Id)
                     @Html.ValidationSummary(true)
                    <div class="row">
                        <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.AreaName)</div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.AreaName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.AreaName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.Expense)</div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(x => x.Expense, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Expense)
                        </div>
                    </div>
                    
                </div>
            </div>
        }
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" onclick="submit()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

