﻿@model IEnumerable<ERP.INFRASTRUCTURE.User>

@{
    ViewBag.Title = "User List";
}
<script>
    var tableheader = ["User Name", "Profile Code", "Role Name", "Password", "Status"];
    var desiredColumn = ["UserName", "ProfileCode", "RoleName", "Password", "Status"];
    var printTitle = 'User List';
    var orgName = 'Reproductive Health Service Training & Education Program';
    var orgAddress = "CRP-Mirpur, Plot # A/5, 10th Floor, Block # A, Section # 14,</br>Mirpur, Dhaka-1206, Bangladesh.";
    var imgUrl = "../../../Content/css/images/ERP_logo.png";
    var itemPerPage = 25;
    var username = '@ViewBag.UserName';
</script>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-users"></i> User List </h3>
    <div class="btn-add-partial">
        <button value="Create" class="btn btn-default AddPartial" data-url="@Url.Action("SaveUser")" title="Create User"><i class="fa fa-plus"></i></button>
        <button value="print" class="btn btn-default" onclick="PrintTable('printedobject', tableheader, desiredColumn, printTitle, orgName, orgAddress, username, imgUrl, itemPerPage)" title="Print"><i class="fa fa-print"></i></button>
    </div>
</div>
<div class="printedobject" style="display: none">
    @Html.Raw(Json.Encode(Model))
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>@Html.DisplayNameFor(x => x.UserName)</th>
                                    <th>@Html.DisplayNameFor(x => x.RoleName)</th>
                                    <th>@Html.DisplayNameFor(x => x.Status)</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Any())
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                            <td>
                                                <button class="btn btn-default EditPartial" data-id="@item.Id" data-url="@Url.Action("SaveUser")" title="Edit"><i class="fa fa-pencil fa-fw"></i></button>
                                                <button class="btn btn-default ChangePasswordPartial" data-id="@item.Id" data-url="@Url.Action("ChangePassword")" title="Change Password"> <i class="fa fa-key"></i></button>
                                                @if (item.Status > 0)
                                                {
                                                    <button class="btn btn-default " onclick="ConfirmUserDelete('@item.Id', 0, 'DeleteUser')" title="Inactive"><i class="fa fa-lock"></i></button>
                                                }
                                                else
                                                {
                                                    <button class="btn btn-default " onclick="ConfirmUserDelete('@item.Id', 1, 'DeleteUser') " title="Active"> <i class="fa fa-unlock"></i></button>
                                                }
                                            </td>
                                        </tr>
                                    }
                                }
                                
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>
    @if (TempData.Count > 0)
    {
        <script>
            var message = '@TempData.Values.ElementAtOrDefault(0)';
            var messageType = '@TempData.Values.ElementAtOrDefault(1)';
            var count = 1;
        </script>
        TempData["message"] = null;
        TempData["messageType"] = null;
    }
    else
    {
        <script>
            var count = 0;
        </script>
    }
    @section scripts{
        <script>

            $(function () {
                $('.dataTables').dataTable();
            });
            //function onSuccess(data) {
            //    if (data.Success == true) {
            //        //return flash msg from custom.js
            //        FlashMessage(data.FlashLabel, data.FlashMessage);
            //    }
            //    else {
            //        FlashMessage(data.FlashLabel, data.FlashMessage);
            //    }
            //}
            //function submit() {
            //    alert("layout");
            //    $('#DialogForm1').submit();
            //}
            if (count > 0) {
                GetMessage(message, messageType);
            }
        </script>
    }



