﻿@model ERP.INFRASTRUCTURE.LedgerViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">X</button>
            <h3>Save Party</h3>
        </div>
        @using (Ajax.BeginForm("SaveParty", "Settings", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess(data)", InsertionMode = InsertionMode.Replace, UpdateTargetId = "target" }, new { @id = "DialogForm1" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                <div class="addclass"></div>
                     @Html.HiddenFor(model => model.Id)
                     @Html.HiddenFor(model => model.PropertyId)
                     @Html.ValidationSummary(true)
                    <div class="form-group">
                        <label class="control-label col-sm-4" >@ViewBag.partyType</label>
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.ContactPerson, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.ContactPerson, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address1, "Address", htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.TextAreaFor(model => model.Address1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mobile1, "Mobile", htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Mobile1, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Mobile1, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-sm-4" })
                        <div class="col-sm-8">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" onclick="submit()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>