﻿@{
    ViewBag.Title = "Transaction List";
}
@using ERP.INFRASTRUCTURE.Entity
@model ERP.INFRASTRUCTURE.SearchCriteria
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Transaction List</h3>
    <div class="btn-add-partial">
        <a href="@Url.Action("TransactionForm", new { id = 0 })" class="btn btn-default">Add Transaction</a>
    </div>
</div>
@*<div class="panel-body">
    <div class="row" style="padding-left:30px">
        @using (Html.BeginForm("BillingList", "Sales", FormMethod.Get, null))
        {
            <div class="col-sm-12">
                <div class="control-label col-sm-2"><label>Select Ledger:</label></div>
                <div class="col-sm-2">@Html.DropDownList("SubheaderId", (IEnumerable<SelectListItem>)ViewBag.LedgerList, new { @class = "form-control" })</div>
                <div class="control-label col-sm-1">@Html.Label("datefrom", "From:")</div>
                <div class="col-sm-2"><input type="text" class="form-control input-sm datefrom" name="datefrom" /></div>
                <div class="control-label col-sm-1">@Html.Label("dateTo", "To:")</div>
                <div class="col-sm-2"><input type="text" class="form-control input-sm dateto" name="dateto" /></div>
                <div class="col-sm-2">
                    <input type="submit" value="Show Ledger" class="btn btn-primary input-sm" />
                </div>
            </div>
        }
    </div>
</div>*@
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th colspan="2">Debit</th>
                                    @*<th></th>*@
                                    <th colspan="2">Credit</th>
                                    @*<th></th>*@
                                    <th>Date</th>
                                    <th>Remarks</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.TransactionList.Count > 0)
                                {
                                    foreach (var transaction in ViewBag.TransactionList)
                                    {
                                        var date = ((TransactionViewModel) transaction).TransactionDate.ToString("dd/MMM/yyyy");
                                         <tr>
                                            <td>@transaction.DebitHeaderName</td>
                                            <td>@transaction.Amount</td>
                                            <td>@transaction.CreditHeaderName</td>
                                            <td>@transaction.Amount</td>
                                            <td>@date</td>
                                            <td>@transaction.Remarks</td>
                                            <td>
                                                <abbr title="Edit"><a href="@Url.Action("TransactionForm", "Transaction", new { id = transaction.Id })" class="btn btn-default editBM" title="Edit"><i class="fa fa-pencil fa-fw"></i></a></abbr>
                                                <abbr title="Delete"><button onclick="ConfirmDelete(@transaction.Id,'DeleteTransaction')" class="btn btn-default editBM" title="Delete"><i class="fa fa-times"></i></button></abbr>
                                                <abbr title="Print">
                                                    <a target="_blank" onclick="PrintVoucher(@transaction.Id,'transaction')" class="btn btn-default printVoucher" title="Print"><i class="fa fa-print fa-fw"></i></a>
                                                </abbr>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>
@*@section scripts{
    <script>
        $(document).on('focus', '.dateto', function () {
            $('.dateto').datepicker({ autoclose: true, dateFormat: "dd/MM/yy", maxDate: 0 }).on('changeDate', function (e) {
                $(this).datepicker('hide');
            }).change(function () {
                if ($('.datefrom').val() != null && $('.datefrom').val() !== "") {
                    var datefrom = new Date($('.datefrom').val());
                    var dateto = new Date($('.dateto').val());
                    if (datefrom > dateto) {
                        $('.dateto').val("");
                    }
                }
            });
        });
        $(document).on('focus', '.datefrom', function () {
            $('.datefrom').datepicker({ autoclose: true, dateFormat: "dd/MM/yy", maxDate: 0 }).on('changeDate', function (e) {
                $(this).datepicker('hide');
            }).change(function () {
                if ($('.datefrom').val() != null && $('.datefrom').val() !== "") {
                    var datefrom = new Date($('.datefrom').val());
                    var dateto = new Date($('.dateto').val());
                    if (datefrom > dateto) {
                        $('.dateto').val("");
                    }
                }
            });
        });
    </script>
}*@
