﻿/*****Printing **********/
    @media print {
        body {
            width: 190px;
            height: 300px;

           
  }
        .printlogo {
            display: block;
        }
        .reverseprintlogo {
            display: none;
        }


        .stock {
            display: none;
        }
        @page {
            /*size: 3in 6in;*/
            margin: 0%;
            
        }
        #notprint {
            display: none
        }

        #printing {
            display: block;
        }

        #printing {
            position: absolute;
            left: 0;
            top: 0;
           
        }
        .table-sm th {
            background: #fff;
            color: black;
            font-weight: bold;
        }

        .table-sm td {
            background: #fff;
            color: black;
            font-size: 9px;
        }
        .table-sm tr {
            background: #fff;
            color: black;
            font-size: 9px;
        }
    }