﻿body {
    font-family: ZangGoFont;
    font-size: 18px;
    background-color: rgb(214, 255, 255);
}

@font-face {
    font-family: ZangGoFont;
    src: url(fonts/CalibriL.ttf);
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 280px;
}*/

.invoice-table {
    max-height: 500px;
    overflow-y: scroll;
    border: 2px solid #c9bcbc;
    margin-bottom: 12px;
}

.navbar-Category {
    font-size: 30px !important;
    height: 65px !important;
    line-height: 5px !important;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


.flash {
    padding: 8px 35px 8px 14px;
    margin-bottom: 5px;
    border: 1px solid;
}

.flash-success {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.flash-info {
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

.flash-warning {
    color: #C09853;
    background-color: #FCF8E3;
    border-color: #FBEED5;
}

.flash-error {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
}

.row {
    margin-bottom: 3px !important;
}



.std-box {
    width: 100% !important;
}

.std-dropdownlistbox {
    width: 80% !important;
}


.FlashMessage {
    font-family: Vardana;
}

.section {
    margin: 10px 0;
    border: 2px;
}


.fa-dashboard:before, .fa-tachometer:before {
    margin-right: 5px !important;
}

.dataTables_filter {
    float: right !important;
}

.btn-form-link {
    width: 180px;
}

.strong {
    font-weight: bold;
}

#saveButton {
    position: fixed;
    width: 80%;
    height: 50px;
    /* left: 50%; */
    top: 80%;
    /* margin-left: -300px; */
    /*background-color: gray;*/
    z-index: 1;
}

.ERP-panel-body {
    /*max-height: 460px;*/
    display: block;
    overflow-x: scroll;
}

.alert {
    margin-bottom: 2px !important;
}

.ERP-panel-footer {
    /*margin-top: -20px !important;*/
    margin-left: 10px !important;
    margin-right: 43px !important;
    padding-bottom: 2px;
    text-align: right;
    font-family: Tahoma,Verdana,Segoe,sans-serif;
}

.top-bar {
    background-color: whitesmoke;
    border-radius: 5px;
    margin-left: 1px;
    margin-right: 1px;
    padding: 8px;
}

.user-info {
    padding-top: 1%;
}

@media only screen and (min-width:768px) {
    .container {
        width: inherit !important;
    }

    .custom-col-sm-4 {
        margin-left: -25px !important;
        width: 35.5% !important;
    }
}

@media only screen and (min-width:768px) {
    .col-sm-10 {
        width: 79.333333%;
    }
}

@media only screen and (min-width:1180px) {
    .col-sm-10 {
        width: 84.333333%;
    }

    .custom-col-sm-4 {
        margin-left: -25px !important;
        width: 35% !important;
    }
}

@media only screen and (min-width:1900px) {
    .col-sm-10 {
        width: 88.333333%;
    }

    .custom-col-sm-4 {
        margin-left: -25px !important;
        width: 34.3% !important;
    }
}

@media only screen and (min-width:2000px) {
    .col-sm-10 {
        width: 91.333333%;
    }

    .custom-col-sm-4 {
        margin-left: -25px !important;
        width: 35.3% !important;
    }
}
