﻿@model ERP.INFRASTRUCTURE.SearchCriteria
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default report-font ">
            @*<div class="panel-heading">@Model.ReportTitle</div>*@
            <div class="panel-body">
                <div class="row" style="padding-left:30px">
                    <div class="row">
                        @*<div class="col-sm-2" style="padding-left: 0px !Important;padding-right: 5px !Important;">Start Date</div>
                        <div class="col-sm-2" style="padding-left: 0px !Important;padding-right: 5px !Important;">End Date</div>*@
                    </div>
                    <div class="row inventorySearch">
                        @*<div class="col-sm-2" style="padding-left: 0px !Important;padding-right: 5px !Important;">
                            @Html.TextBoxFor(x => x.StartDate, "{0:dd/MMM/yyyy}", new { @class = "form-control datepicker", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-2" style="padding-left: 0px !Important;">
                            @Html.TextBoxFor(x => x.EndDate, "{0:d MMM yyyy}", new { @class = "form-control datepicker", @readonly = "readonly" })
                        </div>*@
                        <div class="col-sm-2">
                            <input type="button" id="btnGenerate" value="Generate Report" onclick="GetReport();" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <iframe id="myReport" style="width: 120%; height: 100%; min-height: 400px; margin-left: 5px; "></iframe>
    </div>
</div>
@section scripts
{

    <link href="~/Scripts/select2-3.5.4/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2-3.5.4/select2.min.js"></script>
    <script>

        $(document).ready(function () {

            $(document).on('focus', '.datepicker', function () {
                $(this).datepicker({ autoclose: true, todayHighlight: true, maxDate: '0', dateFormat: "dd/MM/yy" }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });

            });

        });

        function GetReport() {
            var searchObj = "";
            $('.inventorySearch').find('input:text, input:password, input:file, select, textarea, input:radio, input:checkbox').each(function () {
                if ($(this).is('select') || $(this).is('Select') || $(this).is('SELECT')) {
                    searchObj += $(this).find(':selected').attr('value') + "_";
                }
                if ($(this).is('input:radio')) {
                    searchObj += $(this).attr('value') + "_";
                }
                if ($(this).is('input:text')) {
                    searchObj += $(this).val() + "_";
                }
                if ($(this).is('input:password')) {
                    searchObj += $(this).attr('value') + "_";
                }

            });
            var pathname = window.location.pathname; // Replaces path only
            //var url = window.location.href;     // Replaces full URL
            //alert(searchObj);
            //return false;
            pathname = pathname.split('/');
            console.log(pathname);
            //console.log(searchObj);
            document.getElementById("myReport").src = "../../Report/ReportForm.aspx?ReportID=" + pathname[2] + "^" + searchObj;
        }
    </script>
}