﻿@{
    ViewBag.Title = "Income Statement";
}

@model ERP.INFRASTRUCTURE.SearchCriteria
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default report-font ">
            <div class="panel-body">
                <div class="row" style="padding-left:30px">

                    <div class="row">
                        <div class="col-sm-2" style="padding-left: 0 !Important;padding-right: 5px !Important;">Start Date</div>
                        <div class="col-sm-2" style="padding-left: 0 !Important;padding-right: 5px !Important;">End Date</div>
                    </div>

                    <div class="row inventorySearch">
                        <div class="col-sm-2" style="padding-left: 0px !Important;padding-right: 5px !Important;">
                            @Html.TextBoxFor(x => x.StartDate, "{0:dd/MMM/yyyy}", new { @class = "form-control date-picker", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-2" style="padding-left: 0px !Important;">
                            @Html.TextBoxFor(x => x.EndDate, "{0:dd/MMM/yyyy}", new { @class = "form-control date-picker", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-2">
                            <input type="button" id="btnGenerate" value="Show Income Statement" onclick="GetReport();" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <iframe id="myReport" style="width: 120%; height: 100%; min-height: 400px; margin-left: 5px; "></iframe>
    </div>
</div>

