﻿@{
    ViewBag.Title = "Item List";
}

<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Item List</h3>
    <div class="btn-add-partial">
        <a class="btn btn-info" href="SaveProductSettings/0">Add Product</a>
    </div>
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Item Number</th>
                                    <th>Picture</th>
                                    <th>Selling Price</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.ProductList.Count > 0)
                                {
                                    foreach (var product in ViewBag.ProductList)
                                    {
                                        <tr>
                                            <td><a href="SaveProductSettings/@product.Id" >@product.ProductName</a></td>
                                            <td>@product.ProductCode</td>
                                            <td>
                                                <img src="@product.ImageUrl"  style="height: 100px; width: 150px;"/>
                                                
                                            </td>
                                            <td>@product.SellingPrice</td>
                                            <td>
                                                <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@product.Id,'DeleteProductSettings')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>