﻿@using ERP.REPOSITORIES.Helper
@model IEnumerable<ERP.INFRASTRUCTURE.LedgerViewModel>

@{
    var partTypeName = ViewBag.PartyType == PropertyConstants.Supplier ? "Supplier" : "Customer";
    ViewBag.Title = partTypeName+" Party List";
}
<script>
    param = '-1^' + '@ViewBag.PartyType';
    url = 'SaveParty';
</script>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> @partTypeName Party List</h3>
    <div class="btn-add-partial">
        <button class="btn btn-info" onclick="loadPartial(param,url);">Add @partTypeName Party</button>
    </div>
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive" style="font-size: 14px;">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>@partTypeName</th>
                                    <th>Contact Person</th>
                                    <th>Address</th>
                                    <th>Mobile</th>
                                    <th>Email</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody style="font-size: 13px !important;">
                                @if (ViewBag.PartyList != null)
                                {
                                    foreach (var item in ViewBag.PartyList)
                                    {
                                        <tr>
                                            <td>@item.Name</td>
                                            <td>@item.ContactPerson</td>
                                            <td>@item.Address1</td>
                                            <td>@item.Mobile1</td>
                                            <td>@item.Email</td>
                                            <td>
                                                <abbr title="Edit">
                                                    <button class="btn btn-default" onclick='loadPartial("@item.Id^2",url);'><i class="fa fa-pencil fa-fw"></i></button>
                                                </abbr>
                                                <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@item.Id,'DeleteParty')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>