﻿@using ERP.INFRASTRUCTURE
@using ERP.INFRASTRUCTURE.Global
<div class="addclass"></div>
<div class="row">
    <div class="col-xs-12">
        <div class="panel-heading">
            <h3 class="panel-title">Template LIST</h3>
            <div class="btn-add-partial">
                <a href="@Url.Action("Register", "Template")" class="list-group-item">Register</a>
            </div>
        </div><!-- /.box-header -->
        <div class="panel-body minHeight">
            <div class="row">
                <div class="col-sm-12">
                    <div class="panel panel-default">
                        <table id="example1" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var dbResp = (DbResponse)ViewBag.Templates;
                                    if (dbResp.MessageType == 1)
                                    {
                                        var partialTemplates = (List<PartialTemplate>)dbResp.ReturnValue;
                                        foreach (var partialTemplate in partialTemplates)
                                        {
                                            <tr class="@partialTemplate.Id">
                                                <td><a href="@Url.Action("Modify", "Template", new { paramId = @partialTemplate.Id })">@partialTemplate.TemplateName</a> </td>
                                                <td><button class="btn btn-default" onclick="submit_single('@partialTemplate.Id', 'Delete'); ">Remove</button></td>
                                            </tr>
                                        }
                                    }
                                }

                            </tbody>
                        </table>
                    </div><!-- /.box-body -->
                </div><!-- /.box -->
            </div><!-- /.col -->
        </div><!-- /.box-body -->
    </div><!-- /.box -->
</div><!-- /.col -->
