﻿@{
    ViewBag.Title = "Currency List";
}
<script>
    param = '';
    url = 'Register';
</script>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Currency List</h3>
    <div class="btn-add-partial">
        <button class="btn btn-info" onclick="loadPartial(param,url)">Add Currency</button>
    </div>
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>CurrencyName</th>
                                    <th>Symbol</th>
                                    <th>Country</th>
                                    <th>ConversionRate</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.CurrencyList.Count > 0)
                                {
                                    foreach (var currency in ViewBag.CurrencyList)
                                    {
                                        <tr>
                                            <td><a href="#" onclick="loadPartial(@currency.ID,url);">@currency.CurrencyName</a></td>
                                            <td>@currency.Symbol</td>
                                            <td>@currency.Country</td>
                                            <td>@currency.ConversionRate</td>
                                            <td>
                                                <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@currency.ID,'Delete')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>