﻿@using ERP.INFRASTRUCTURE.Global
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Shopnocode">
    <meta name="author" content="Shopnocode">
    <title>@ViewBag.Title</title>
    <link rel="shortcut icon" href="../../Content/css/images/wowLogo.png" />
    @*@Styles.Render("~/Content/css")*@
    @* =========Temporary Load ...need to remove later======== *@
    <link href="../../Content/css/jquery-ui.css" rel="stylesheet" />
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/css/plugins/timeline.css" rel="stylesheet" />
    <link href="../../Content/css/plugins/alertify.core.css" rel="stylesheet" />
    <link href="../../Content/css/plugins/alertify.default.css" rel="stylesheet" />
    <link href="../../font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="../../Content/site.css" rel="stylesheet" />
    <link href="../../Content/custom.css" rel="stylesheet" />
    <link href="../../Content/css/select2.min.css" rel="stylesheet" />

    <style>
        /*.select2 {
            min-width: 280px;
        }*/
        .modal-dialog {
            width: 100%;
            height: 100%;
            padding: 0;
        }

        .modal-content {
            height: 100%;
            border-radius: 0;
        }
    </style>
</head>
<body style="background-image: url(../../Content/css/images//BackGround.jpg); background-repeat: repeat; ">
    <!--newly added theme*/-->
    <div class="container" id="content">
        <!-- Load Bootstrap Modal  -->
        <div class="modal fade in PartialModal col-sm-8" id="modal" tabindex="-1" style="margin-left: 15%;">
            <script src="/Scripts/jquery.min.js"></script>
            <script src="/Scripts/jquery-ui.min.js"></script>
            <script>
                $('#modal').on('click', function () {
                    $('.date-picker').datepicker({ autoclose: true, dateFormat: "dd/M/yy" }).on('changeDate', function (e) {
                        console.log("Changed Date");
                        $(this).datepicker('hide');
                    }).change(function () {
                        if ($('.dateto').val() != null && $('.dateto').val() !== "") {
                            var datefrom = new Date($('.datefrom').val());
                            var dateto = new Date($('.dateto').val());
                            if (datefrom > dateto) {
                                $('.dateto').val("");
                            }
                        }
                    });
                    $('.dropdown').select2();
                    $('.dataTables').DataTable();
                });
            </script>
            <div class="PartialModalContainer"></div>
        </div>
        <!-- Load Bootstrap Modal End Here -->
        <div class="row toprow">
            <div class="col-sm-2 siderow">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title c_logo">
                                <a class="alignCenter" href="@Url.Action("Index","Home")">
                                    <img alt="" src="../../Content/css/images/wowLogo.png" width="120" height="80" />
                                    <br />
                                </a>
                            </h4>
                        </div>
                    </div>
                    @if (HttpContext.Current.Session["loginInfo"] != null)
                    {
                        @Html.Partial("_MainMenu")
                    }
                </div>
            </div>
            @{
                var userName = "Guest";
                var loginInfo = HttpContext.Current.Session["loginInfo"] as LogInInfo;
                if (loginInfo != null)
                {
                    userName = loginInfo.UserName;
                }
            }
            <div class="col-sm-10">
                <div class="row top-bar">
                    <div class="col-sm-1" style="margin: 5px;">
                        <img src="../../Content/css/images/wowLogo.PNG" width="120" height="80" alt="">
                    </div>
                        @if (loginInfo != null)
                        {
                            <div class="col-sm-10 user-info" style="float: right !important;">@loginInfo.UserName.ToUpper() ( <a href="@Url.Action("Logout", "Account")"> Logout</a> )</div>
                        }
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel panel-default minHeight" id="height">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class=" btn-default footerText ERP-panel-footer" style="text-align:right;">
        <p style="margin-right:10px;">Copyright &copy; @DateTime.Now.Year, Powered By Shopno Code Software Ltd.</p>
    </div>
    <!--newly added theme code ends here.-->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/customs")
    @Scripts.Render("~/bundles/sbadmin")

    @RenderSection("scripts", required: false)
    <script>
        function submit() {
            $('#DialogForm1').submit();
        }
        function onSuccess(data) {
            npNotification(data);
            if (data.MessageType == 1) {
                setTimeout((function () {
                    window.location.reload();
                }), 1500);
            }
        }
        
        $(function () {
            $('.date-picker').datepicker({ autoclose: true, dateFormat: "dd/M/yy" }).on('changeDate', function (e) {
                console.log("Changed Date");
                $(this).datepicker('hide');
            }).change(function () {
                if ($('.dateto').val() != null && $('.dateto').val() !== "") {
                    var datefrom = new Date($('.datefrom').val());
                    var dateto = new Date($('.dateto').val());
                    if (datefrom > dateto) {
                        $('.dateto').val("");
                    }
                }
            });
            $('.dropdown').select2();
            $('.dataTables').DataTable();
        });
    </script>
</body>
</html>
