﻿<div id="MainMenu">
    <div class="list-group panel shawon" id="scroll">
        <div class="ashcolorDiv"><a href="#demo_Purchasse" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-shopping-cart"></i> Product Entry</a></div>
        <div class="collapse" id="demo_Purchasse">
            <a href="@Url.Action("SavePurchaseEntry", "Purchase")" class="list-group-item"><i class="fa fa-cubes textsuccess"></i>Product Input</a>
            <a href="@Url.Action("PurchaseEntryList", "Purchase")" class="list-group-item"><i class="fa fa-cubes textsuccess"></i>Input Book</a>
            <a href="@Url.Action("SaveStockOutEntry", "Purchase")" class="list-group-item"><i class="fa fa-cubes textsuccess"></i>Product Out</a>
            <a href="@Url.Action("StockOutEntryList", "Purchase")" class="list-group-item"><i class="fa fa-cubes textsuccess"></i>Out Book</a>
        </div>
        <div class="ashcolorDiv"><a href="#demo_Inventory" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-building-o"></i>Inventory</a></div>
        <div class="collapse" id="demo_Inventory">
            <a href="@Url.Action("StockListReport", "Report")" class="list-group-item"><i class="fa fa-archive textsuccess"></i>Stock List Report</a>
            <a href="@Url.Action("InvoiceReport", "Report")" class="list-group-item"><i class="fa fa-file textsuccess"></i>Sales Report</a>
        </div>
        <div class="ashcolorDiv"><a href="#demo_Training" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-money"></i> Sales</a></div>
        <div class="collapse" id="demo_Training">
            <a href="@Url.Action("AddSalesInvoice", "Sales")" class="list-group-item"><i class="fa fa-cubes textsuccess"></i>Sales Invoice</a>
            @*<a href="@Url.Action("InvoiceList", "Sales")" class="list-group-item"><i class="fa fa-cubes textsuccess"></i>Sales Book</a>*@
        </div>
        
        <div class="ashcolorDiv"><a href="#demo_Awareness" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-eye"></i> Settings</a></div>
        <div class="collapse" id="demo_Awareness">
            <a href="@Url.Action("ProductSettingsList","Inventory")" class="list-group-item"><i class="fa fa-archive textsuccess"></i>Product Settings</a>
        </div>
        <div class="ashcolorDiv"><a href="#backUp" class="list-group-item list-group-item-default" data-toggle="collapse" data-parent="#MainMenu"><i class="fa fa-check-square-o"></i> Back Up Module</a></div>
        <div class="collapse" id="backUp">
            <a href="@Url.Action("Index", "DataBaseBackUp")" class="list-group-item"><i class="fa fa-database textsuccess"></i>Back Up</a>
        </div>
    </div>
</div>
