﻿@using ERP.INFRASTRUCTURE
@using ModelState = System.Web.ModelBinding.ModelState
@model  PartialInvoiceInfo


<style>
    #overlay {
        position: fixed;
        display: none;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.5);
        z-index: 2;
        cursor: pointer;
    }

    .msg-loading {
        font-size: 25px;
        font-weight: bold;
        margin: 20%;
        text-align: center;
        background-color: white;
    }
    .row::-webkit-scrollbar {
        -webkit-appearance: scrollbartrack-vertical;
    }  
</style>
@*@Html.Partial("~/Views/Shared/Partial/_loadProductsPartial.cshtml", new ViewDataDictionary { { "url", "/Purchase/GetNewInvoiceInfoDetailBySerial" } })*@
<div id="overlay">
    <div class="msg-loading">
        Processing.....
    </div>
</div>
<div class="panel-heading">
    <h1 class="panel-title"><i class="fa fa-money"></i> @ViewBag.Title  Module </h1>
</div>
<div class="panel-body minHeight">
    <div class="FlashMessage"></div>
    @using (Ajax.BeginForm("SavePurchaseEntry", "Purchase", FormMethod.Post, new AjaxOptions { HttpMethod = "POST" }, new { @id = "purchaseForm", @onsubmit = "showLoader()" }))
    {
        @Html.ValidationSummary(true)
        @Html.HiddenFor(m => m.Id, new { @id = "invoiceInfo-id" })
        @Html.HiddenFor(m => m.CreatedBy, new { @id = "created-by" })
        @Html.HiddenFor(m => m.CreatedDate, new { @id = "created-date" })
        @Html.HiddenFor(m => m.ModifiedBy, new { @id = "modified-by" })
        @Html.HiddenFor(m => m.ModifiedDate, new { @id = "modified-date" })
        @Html.HiddenFor(m => m.Status, new { @id = "status" })
        @Html.HiddenFor(m => m.BussinessId, new { @id = "business-id" })
        @Html.HiddenFor(m => m.InvoiceNo, new { @id = "InvoiceNo" })
        @Html.HiddenFor(m => m.PropertyId, new { @id = "property-id" })
        @Html.HiddenFor(m => m.DebitId, new { @id = "DebitId" })
        @Html.HiddenFor(m => m.CreditId, new { @id = "CreditId" })
        @Html.HiddenFor(m => m.InvoiceDate, new { @id = "Invoice_date" })
        <div class="form-horizontal">
          <br />
            <div class="row">
                <div class="col-sm-12 invoice-table">
                    <table class="table table-bordered" id="productTable">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                @*<th>Action</th>*@
                            </tr>
                        </thead>
                        <tbody id="productBody" class="InvoiceDetailsList productBody">
                          @if (ViewBag.ProductList != null)
                            {
                                foreach (var product in ViewBag.ProductList)
                                {
                                    <tr>
                                        <input type="hidden" value="@product.Id"  id="product-id"/>
                                        <td>@product.ProductName</td>
                                        
                                        @*<td><label id="product-selling-price"></label>@product.SellingPrice</td>*@
                                        <td><input class="form-control BuyingPrice product-row-control valid" id="product-unit-price" readonly="readonly" data-val="true" data-val-number="The field BuyingPrice must be a number." data-val-required="The BuyingPrice field is required." min="0" name="InvoiceDetailsList[94ddf1c5-d6a0-49d3-89f4-4a20926b56b4].BuyingPrice" np-key="BuyingPrice" onkeypress="setProductTotal(this)" type="number" value="@product.SellingPrice"> </td>
                                        <td><input type="number" class="form-control" id="product-quantity" min="1" value="@product.Quantity"  onkeyup="setProductTotal(this)"></td>
                                        <td><label id="product-total-price">@product.TotalPrice</label></td>
                                        @*<td><button type="button" id="removeProductRow" class="btn btn-primary" onclick="removeDetailRow(this)">Remove</button></td>*@
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-5 col-sm-push-7">
                    <div class="row">
                        <div class="control-label col-sm-4"><label>Total Amount:</label></div>
                        <div class="col-sm-8">
                            @Html.TextBoxFor(m => m.SubTotal, new { @class = "form-control", @id = "sub-total", @readonly = "readonly" })
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <input class="btn btn-primary pull-right hi" style="width: 90px;" id="Submit" value="Save" onclick="SaveInvoice('/Purchase/SavePurchaseEntry')" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('#purchaseForm').on('keyup keypress', function(e) {
                var keyCode = e.keyCode || e.which;
                if (keyCode === 13) {
                    e.preventDefault();
                    return false;
                }
            });
        });

        function showLoader() {
            if ($("#purchaseForm").valid()) {
                document.getElementById("overlay").style.display = "block";
            }
        }

        function addProduct() {
            var productId = parseInt($('#product-id option:selected').val());
            var invoiceInfoId = parseInt($('#invoiceInfo-id').val());
            //console.log(productId);
            //console.log(invoiceInfoId);
            invoiceInfoId = isNaN(invoiceInfoId) ? null : invoiceInfoId;

            $.post('/Purchase/GetNewInvoiceInfoDetail', { invoiceInfoId: invoiceInfoId, productId: productId }, function(data) {
                $('#productBody').append(data);
                updateTotals();
            });
        }


        function validateAddButton() {
            var productId = $('#product-id option:selected').val() != undefined ? parseInt($('#product-id option:selected').val()) : 0;

            if (productId != 0) {
                $('#addProductRow').prop('disabled', false);
            } else {
                $('#addProductRow').prop('disabled', true);
            }
        }


        function setProductTotal(element) {
            var unitPrice = parseFloat($(element).closest('tr').find('td input[id="product-unit-price"]').val());
            var quantity = parseFloat($(element).closest('tr').find('td input[id="product-quantity"]').val());
            var totalPrice = unitPrice * quantity;
            $(element).closest('tr').find('td label[id="product-total-price"]').text(totalPrice.toFixed(2));
            updateTotals();
        }

        function updateTotals() {
            var subTotal = 0.0;
            var grandTotal = 0.0;

            $('#productBody tr').each(function (i, element) {
                var unitPrice = parseFloat($(element).find('td input[id="product-unit-price"]').val());
                var quantity = parseFloat($(element).find('td input[id="product-quantity"]').val());
                //$(element).find('td label[id="product-total-price"]').text(unitPrice);
                subTotal += unitPrice * quantity;
            });
            $('#sub-total').val(subTotal);
            
        }

        function removeDetailRow(element) {
            var detailRow = $(element).closest('tr');
            if (parseInt($(detailRow).find('input[id="id"]').val()) == 0) {
                $(detailRow).remove();
            } else {
                $(detailRow).find('input[id="status"]').val(0);
                $(detailRow).attr('status', 0);
                $(detailRow).remove();
            }
            updateTotals();
        }

        function removeAllRow() {
            $('#productBody tr[status!="0"]').each(function(i, element) {
                if (parseInt($(element).attr('id')) == 0) {
                    $(element).remove();
                } else {
                    $(element).attr('status', 0);
                    $(element).remove();
                }
            });
            updateTotals();
        }

        function updatePurchaseProductList() {
            var categoryId = parseInt($('#category-id option:selected').val());
            if (categoryId != 0) {
                $.post('/Purchase/GetProductListByCategory', { categoryId: categoryId, invoiceType: '@ViewBag.InvoiceType' }, function(data) {
                    $('#product-id').empty();
                    if (data != "") {
                        $('#product-id').append(data);
                    } else {
                        alertify.error('No product in this category');
                    }
                });
            } else {
                $('#product-id').empty();
            }
        }

    </script>
}





