﻿@using System.Globalization
@model ERP.INFRASTRUCTURE.DashBoard
@{
    ViewBag.Title = "Dashboard";
    string companyName = System.Configuration.ConfigurationManager.AppSettings["companyName"];
}
<div class="addclass"></div>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-home"></i> ERP - Admin Dashboard</h3>
</div>
@*<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div style="font-size: 70px;font-family:sans-serif;color: darkkhaki;text-align: center;margin-top: 40px;">
                WOW Foods
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div style="font-size: 30px;font-family:sans-serif;color: dimgray;text-align: center;margin-top: 40px;">
                Release Version 1.0
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
        </div>
    </div>

</div>*@

<div class="panel-body minHeight">
    @if (ViewBag.warningMessage != null)
    {
        <div class="row">
            <div class="col-sm-12">
                <div style="font-size: 70px; font-family: sans-serif; color: #cc4820; text-align: center; margin-top: 40px;">
                    @ViewBag.warningMessage
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="font-size: 30px; font-family: sans-serif; color: #e28808; text-align: center; margin-top: 40px;">
                    Please Pay your Dues As Soon As Possible
                </div>
            </div>
        </div>
    }
    @if (ViewBag.warningMessage == null)
    {
        <div class="row">
            <div class="col-sm-12">
                <div style="font-size: 70px;font-family:sans-serif;color: darkkhaki;text-align: center;margin-top: 40px;">
                    WOW Food ERP
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="font-size: 30px;font-family:sans-serif;color: dimgray;text-align: center;margin-top: 40px;">
                    Release Version 1.0
                </div>
            </div>
        </div>
    }
    <!-- /.row -->

</div>

@if (TempData.Count > 0)
{
    <script>
        var message = '@TempData.Values.ElementAtOrDefault(0)';
        var messageType = '@TempData.Values.ElementAtOrDefault(1)';
        var count = 1;
    </script>
    TempData["message"] = null;
    TempData["messageType"] = null;
}
else
{
    <script>
        var count = 0;
    </script>
}
@section scripts{
    <script>
        if (count > 0) {
            GetMessage(message, messageType);
        }
        $(function () {
            $('.dataTables').dataTable();
        });

    </script>
}

