﻿<head>
    <link href="../../Content/css/bootstrap.min.css" rel="stylesheet" />
</head>

@{
    Layout = null;
}
<body>
    <div class="panel-body minHeight">
        <!-- /.row -->
        <div class="row">
            <div class="col-sm-12">
                <div style="font-size: 70px;font-family:sans-serif;color: darkkhaki;text-align: center;margin-top: 40px;">
                    Software License Has been Expired
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div style="font-size: 30px;font-family:sans-serif;color: dimgray;text-align: center;margin-top: 40px;">
                    Contact your Vendor for license Renew
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
            </div>
        </div>

    </div>
</body>