﻿@model IEnumerable<ERP.INFRASTRUCTURE.LedgerViewModel>

@{
    ViewBag.Title = "Transaction Header List";
}
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Account Ledgers</h3>
    <div class="btn-add-partial">
        <a href="@Url.Action("SaveLedger", "Accounting")" class="btn btn-default">
            Create Ledger
        </a>
    </div>
</div>

<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>Account Name</th>
                                    <th>Under Header</th>
                                    <th>Desc</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a href="@Url.Action("SaveLedger", new { id = item.Id })">@Html.DisplayFor(modelItem => item.Name)</a>
                                            </td>
                                            <td>@Html.DisplayFor(modelItem => item.GroupName)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                            <td>
                                                <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@item.Id,'DeleteLedger')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>

@section scripts{
    @*<script src="~/Scripts/jquery.validate.min.js"></script>*@
    <script>

        $(function () {
            $('.dataTables').dataTable();
        });

        $(document).on('click', '#closeModal', function () {
            window.location.replace('@Url.Action("LedgerGroupList","Settings")');
        });
    </script>
}
