﻿<div class="addclass"></div>
<div class="row">
    <div class="col-sm-12">
        <div class="panel-heading">
            <h3 class="panel-title">Register</h3>
        </div><!-- /.box-header -->
        <div class="panel-body minHeight">
            <div class="row">
                <div class="col-sm-12 param">
                    <!-- form start -->
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="TemplateName" class="control-label">Template Name</label>
                        </div>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="TemplateName" name="TemplateName" placeholder="Template Name">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <label for="ApplicationId" class="col-sm-2 control-label">Application</label>
                        </div>
                        <div class="col-sm-4">
                            <select class="form-control select2" id="ApplicationId" name="ApplicationId" style="width: 100%;" onchange="loadpermissions(this);">
                                @foreach (var cl in ViewBag.ApplicationList)
                                {
                                    <option value="@cl.Value">@cl.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                    <table id="example1" class="table table-bordered table-responsive table-striped">
                        <thead>
                            <tr>
                                <th><input type="checkbox" class="flat-red" id="checkCtrl" onclick="toggleCheck('checkCtrl', 'pcheck');"></th>
                                <th>Title</th>
                                <th>Program ID</th>
                            </tr>
                        </thead>
                        <tbody id="tabledata"></tbody>
                    </table>
                </div><!-- /.box-body -->
                <div class="panel-footer">
                    <button type="submit" class="btn btn-default" onclick="submitTemplateRegister();">Register</button>
                </div><!-- /.box-footer -->
            </div>
        </div><!-- /.box -->
    </div>
    <!-- left column -->
</div><!-- /.box-footer -->
