﻿@using ERP.REPOSITORIES.Helper
@model IEnumerable<ERP.INFRASTRUCTURE.Payment>
@*<div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-money"></i> @ViewBag.Title </h3>
        <div class="btn-add-partial">
            <a href="@Url.Action("SavePayment", "Payment", new { paymentType = ViewBag.PaymentType, id = 0 })" class="btn btn-default" id="addPmnt" onclick="loadPartial(param,url);">
                Add Payment
            </a>
        </div>
    </div>*@
@{
    var paymentHeader = ViewBag.PaymentType == PropertyConstants.Receive ? "Receive" : "Payment";
    var partyLabel = ViewBag.PaymentType == PropertyConstants.Receive ? "Client" : "Supplier";
}

<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Payment List</h3>
    <div class="btn-add-partial">
        <a href="@Url.Action("SavePayment", new { PaymentType = ViewBag.PaymentType, PartyType = ViewBag.PartyType })" class="btn btn-default">@paymentHeader Entry</a>
    </div>
</div>
<div class="panel-body minHeight">
    <div class="form-horizontal">
        @*<div class="row">
                @using (Html.BeginForm("PaymentModule", "Payment", FormMethod.Get, null))
                {
                    <div class="col-sm-12">
                        <div class="control-label col-sm-2">@Html.Label("partyId", "Party Name")</div>
                        <div class="col-sm-2">@Html.DropDownList("partyId", (IEnumerable<SelectListItem>)ViewBag.PartySelectList, new { @class = "form-control", @data_validation = "Party" })</div>
                        <div class="control-label col-sm-1">@Html.Label("datefrom", "From")</div>
                        <div class="col-sm-2">@Html.TextBox("datefrom", null, new { @class = "form-control datefrom", @data_validation = "datefrom" })</div>
                        <div class="control-label col-sm-1">@Html.Label("dateTo", "To")</div>
                        <div class="col-sm-2">@Html.TextBox("datetto", null, new { @class = "form-control dateto", @data_validation = "dateto" })</div>
                        <div class="col-sm-2">
                            <input type="submit" class="btn btn-primary" value="Search" />
                        </div>
                    </div>
                }
            </div>*@
        <br />
        <div class="row">
            <div class="col-sm-12">
                @using (Html.BeginForm("DealerPaymentModule", "Payment", FormMethod.Get, new { @class = "form-inline" }))
                {
                    <div class="col-sm-12" style="margin-bottom:10px">
                        <div class="form-group">
                            @Html.DropDownList("searchCriteria", new SelectList(@ViewBag.GetPaymentStatus, "Value", "Text"), new { @class = "form-control dropdown" })
                        </div>
                        <div class="form-group" style="margin-left:15px">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                }
                <table class="table table-striped table-bordered table-hover dataTables" id="paymentTable">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.PartyName)</th>
                            <th>@paymentHeader</th>
                            <th>@Html.DisplayNameFor(x => x.Date)</th>
                            <th>Status</th>
                            <th>@Html.DisplayNameFor(x => x.Amount)</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="paymentBody">
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                var date = item.Date.ToString("dd/MMM/yyyy");
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.PartyName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.SubHeader)</td>
                                    <td>@date</td>
                                    <td>
                                        @if (item.PaymentStatus == PropertyConstants.Pending)
                                        { <text>Pending</text>}
                                        else
                                        {<text>Paid</text>}
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                                    <td>
                                        <abbr title="Edit"><a href="@Url.Action("SavePayment", new { PaymentType = ViewBag.PaymentType, PartyType = ViewBag.PartyType, id = item.Id })" class="btn btn-default" title="Edit"><i class="fa fa-pencil fa-fw"></i></a></abbr>
                                        <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@item.Id,'DeletePayment')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>
                                        <abbr title="Print">
                                            <a target="_blank" onclick="PrintVoucher(@item.Id,'payment')" class="btn btn-default printVoucher" title="Print"><i class="fa fa-print fa-fw"></i></a>
                                        </abbr>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</div>
@section scripts{

    <link href="~/Scripts/select2-3.5.4/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2-3.5.4/select2.min.js"></script>



    <script>
        $(function () {
            $('.dataTables').dataTable();
        });
        $('#partyId').select2();
        $(document).on('change', '#PartyId', function () {
            console.log("Called");
            var partyId = $("#PartyId").val();
            if (partyId != "") {
                // alert(partyId);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadPayemntByParty", "Sales")',
                    data: { partyId: partyId },
                    success: function (data) {
                        console.log(data);
                        if (data.isSuccess && data.lastPaymentInfo != null) {
                            $("#partyDue").val(data.lastPaymentInfo*(-1));

                        }
                    },
                    error: function (ex) {
                        //something later
                    }
                });

            }
        });
        $('#addPmnt').on("click", function (e) {
            console.log();
            $('.PartialModalContainer').load(this.href, function () {
                $('.PartialModal').modal({
                    keyboard: true
                }, 'show');

            });
            //$(function () {
            //    $(this).datepicker({ autoclose: true, dateFormat: "dd/MM/yy", maxDate: 0 }).on('changeDate', function (e) {
            //        $(this).datepicker('hide');
            //    });

            //});
            $(document).on('focus', '.datepicker', function () {
                $(this).datepicker({ autoclose: true, todayHighlight: true, maxDate: 0 }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });

            });
            //$("#Date").val("");
            return false;

        });
        $('.editP').on("click", function (e) {
            //alert();
            console.log(this.href);
            //$('.PartialModalContainer').load(this.href, function () {
            //    $('.PartialModal').modal({
            //        keyboard: true
            //    }, 'show');

            //});
            $(function () {
                $(this).datepicker({ autoclose: true, dateFormat: "dd/MM/yy", maxDate: 0 }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });

            });
            // $("#Date").val("");
            return false;
        });
        $(document).on('click', '#closeModal', function () {
            // location.reload();
            var type =@ViewBag.PaymentType;
            if(type==1)
                window.location.replace('@Url.Action("SupplierPaymentModule", "Payment")');
            else
                window.location.replace('@Url.Action("DealerPaymentModule", "Payment")');
        });
        $(document).ready(function () {

            $(document).on('focus', '.datefrom', function () {
                $('.datefrom').datepicker({ autoclose: true, dateFormat: "dd/MM/yy", maxDate: 0 }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                }).change(function() {
                    if ($('.dateto').val() != null && $('.dateto').val() !== "") {
                        var datefrom = new Date($('.datefrom').val());
                        var dateto = new Date($('.dateto').val());
                        if (datefrom > dateto) {
                            $('.dateto').val("");
                        }
                    }
                });
                //.datepicker("setDate", "0");

            });
            $(document).on('focus', '.dateto', function () {
                $('.dateto').datepicker({ autoclose: true, dateFormat: "dd/MM/yy", maxDate: 0 }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                }).change(function () {
                    if ($('.datefrom').val() != null && $('.datefrom').val() !== "") {
                        var datefrom = new Date($('.datefrom').val());
                        var dateto = new Date($('.dateto').val());
                        if (datefrom > dateto) {
                            $('.dateto').val("");
                        }
                    }
                });
                //.datepicker("setDate", "0");

            });
        });

        function PaymentType() {
            var paymentType = $('#PaymentType').val();
            if (paymentType == 1) {
                $('#CheckNo').val("");
                $('#BankId').val("");
                $('#CheckNo').prop('readonly', true);
                $('#BankId').prop('disabled', true);
            }
            if (paymentType == 2||paymentType ==3) {

                $('#BankId').val("");
                //$('#BankId').prop('disabled', true);
                $('#CheckNo').removeAttr('readonly');
                $('#BankId').removeAttr('disabled');
            }
            //if (paymentType == 3) {
            //    $('#CheckNo').val("");
            //    $('#CheckNo').prop('readonly', true);
            //    //$('#BankId').removeAttr('disabled');
            //}
        }

        $(document).on('change', '#PaymentType', function () {
            PaymentType();
        });


    </script>
}