﻿@model ERP.INFRASTRUCTURE.Role

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
                <h3>User Type</h3>
        </div>
        @using (Ajax.BeginForm("SaveUserType", "Account", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess(data)", InsertionMode = InsertionMode.Replace, UpdateTargetId = "target" }, new { @id = "DialogForm1" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    @*@Flash.FlashMessage(TempData)*@
                    <div class="FlashMessage"></div>
                    @Html.HiddenFor(model => model.Id)
                    <div class="row">
                        <div class = "control-label col-sm-3">@Html.DisplayNameFor(x => x.TypeName)</div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.TypeName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.TypeName)
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3">@Html.DisplayNameFor(x => x.ProfileId)</div>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(x => x.ProfileId, new SelectList(ViewBag.profileList, "Id", "ProfileName"), "Select One", new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ProfileId)
                        </div>
                    </div>
                </div>
            </div>
        }
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="button" onclick="submit()" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>

    </div>
</div>

