﻿@model ERP.INFRASTRUCTURE.User

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <h3>User</h3>
        </div>
        @using (Ajax.BeginForm("SaveUser", "Account", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess(data)", InsertionMode = InsertionMode.Replace, UpdateTargetId = "target" }, new { @id = "DialogForm1" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="FlashMessage"></div>
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.CreatedBy)
                    @Html.HiddenFor(model => model.CreatedDate)
                    @if (Model != null)
                    {
                        @Html.HiddenFor(model => model.Password)
                        @Html.HiddenFor(model => model.ConfirmPassword)
                    }
                    <div class="row">
                        <div class="control-label col-sm-3">@Html.DisplayNameFor(x => x.UserName)</div>
                        <div class="col-sm-6">
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.UserName)
                        </div>
                    </div>
                    @if (Model == null)
                    {
                        <div class="row">
                            <div class="control-label col-sm-3">@Html.DisplayNameFor(x => x.Password)</div>
                            <div class="col-sm-6">
                                @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.Password)
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="control-label col-sm-3">@Html.DisplayNameFor(x => x.ConfirmPassword)</div>
                            <div class="col-sm-6">
                                @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.ConfirmPassword)
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="control-label col-sm-3">@Html.DisplayNameFor(x => x.RoleId)</div>
                        <div class="col-sm-6">
                            @Html.DropDownListFor(x => x.RoleId, new SelectList(ViewBag.RoleList, "Id", "RoleName"), "Select One", new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-3"><button type="button" onclick="submit()" class="btn btn-primary">Save</button></div>
                <div class="col-sm-3"></div>
            </div>
        </div>

    </div>
</div>

<script>
    $(function() {
        $("#GeneratePassword").on('click', function (event) {
            $('#Password').val("");
            var url = "PasswordGenerator";
            $.ajax({
                type: 'POST',
                cache: false,
                url: url,
                success: function (result) {
                    console.log(result);
                    $('#Password').val(result);
                },
                error: function (ex) {
                    alertify.alert('Failed to retrieve Formula.' + ex);
                }
            });
            event.preventDefault();
        });
    });
    
</script>


