﻿@model ERP.INFRASTRUCTURE.User

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <h3>Change Password</h3>
        </div>
        @using (Ajax.BeginForm("ChangePassword", "Account", null, new AjaxOptions { HttpMethod = "POST", OnSuccess = "onSuccess(data)", InsertionMode = InsertionMode.Replace, UpdateTargetId = "target" }, new { @id = "DialogForm1" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    <div class="FlashMessage"></div>
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.ProfileId)
                    @Html.HiddenFor(model => model.RoleId)
                    @Html.HiddenFor(model => model.UserName)
                    <div class="row">
                        <div class="control-label col-sm-3">@Html.DisplayNameFor(x => x.OldPassword)</div>
                        <div class="col-sm-6">
                            @Html.PasswordFor(x => x.OldPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.OldPassword)
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3">@Html.DisplayNameFor(x => x.Password)</div>
                        <div class="col-sm-6">
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.Password)
                        </div>
                    </div>
                    <div class="row">
                        <div class="control-label col-sm-3">@Html.DisplayNameFor(x => x.ConfirmPassword)</div>
                        <div class="col-sm-6">
                            @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "form-control" })
                            @Html.ValidationMessageFor(x => x.ConfirmPassword)
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="modal-footer">
            <div class="row">
                <div class="col-md-offset-2 col-md-10">
                    <button type="button" onclick="submit()" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>

    </div>
</div>


