﻿@model IEnumerable<ERP.INFRASTRUCTURE.PurchaseDetail>

<div class="modal-dialog">
    <div class="modal-content" style="width: 800px;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">X</button>
            <h3>Purchase Details</h3>
        </div>
        <div class="modal-body">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>Item</th>
                                    <th>Qty</th>
                                    <th>Pur Pr</th>
                                    <th>Sale Pr</th>
                                    <th>Sale Type</th>
                                    <th>Bat No</th>
                                    <th>Exp Date</th>
                                    <th>Desc</th>
                                </tr>
                            </thead>
                            <tbody>@foreach (var item in Model)
                                    {
                                        <tr><td>@Html.DisplayFor(modelItem => item.ItemName)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                                        <td>@Html.DisplayFor(modelItem => item.PurchasePrice)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SalePrice)</td>
                                        <td>@Html.DisplayFor(modelItem => item.SaleType)</td>
                                        <td>@Html.DisplayFor(modelItem => item.BatchNo)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ExpireDate)</td>
                                        <td>@Html.DisplayFor(modelItem => item.Description)</td></tr>
                                    }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


