﻿@{
    ViewBag.Title = "InvoiceReport";
}

@model ERP.INFRASTRUCTURE.SearchCriteria
<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default report-font ">
            @*<div class="panel-heading">@Model.ReportTitle</div>*@
            <div class="panel-body">
                <div class="row" style="padding-left:30px">

                    <div class="row">
                        <div class="col-sm-2" style="padding-left: 0 !Important;padding-right: 5px !Important;">Start Date</div>
                        <div class="col-sm-2" style="padding-left: 0 !Important;padding-right: 5px !Important;">End Date</div>
                        <div class="hidden" style="padding-right: 5px !Important;">Category</div>
                        <div class="col-sm-2" style="padding-right: 5px !Important;">Product</div>
                        <div class="hidden" style="padding-right: 5px !Important;">Client</div>
                    </div>

                    <div class="row inventorySearch">
                        <div class="col-sm-2" style="padding-left: 0px !Important;padding-right: 5px !Important;">
                            @Html.TextBoxFor(x => x.StartDate, "{0:dd/MMM/yyyy}", new { @class = "form-control datepicker", @readonly = "readonly" })
                        </div>
                        <div class="col-sm-2" style="padding-left: 0px !Important;">
                            @Html.TextBoxFor(x => x.EndDate, "{0:d MMM yyyy}", new { @class = "form-control datepicker", @readonly = "readonly" })
                        </div>
                        <div class="hidden" style="padding-right: 5px !Important;">
                            @Html.DropDownList("CategoryId", (IEnumerable<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control" })
                        </div>
                        <div class="col-sm-2" style="padding-right: 5px !Important;">
                            @Html.DropDownList("ProductId", (IEnumerable<SelectListItem>)ViewBag.ProductList, new { @class = "form-control" })
                        </div>
                        <div class="hidden" style="padding-right: 5px !Important;">
                            @Html.DropDownList("PartyId", (IEnumerable<SelectListItem>)ViewBag.PartySelectList, new { @class = "form-control", @data_validation = "Party" })
                        </div>

                        <div class="col-sm-2">
                            <input type="button" id="btnGenerate" value="Show Report" onclick="GetReport();" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-10">
        <iframe id="myReport" style="width: 120%; height: 100%; min-height: 400px; margin-left: 5px; "></iframe>
    </div>
</div>
@section scripts
{

    <link href="~/Scripts/select2-3.5.4/select2.min.css" rel="stylesheet" />
    <script src="~/Scripts/select2-3.5.4/select2.min.js"></script>
    <script>

        $('#ProductId').select2();
        $('#PartyId').select2();
        $('#CategoryId').select2();

        $(document).ready(function () {

            $(document).on('focus', '.datepicker', function () {
                $(this).datepicker({ autoclose: true, todayHighlight: true, maxDate: '0', dateFormat: "dd/MM/yy" }).on('changeDate', function (e) {
                    $(this).datepicker('hide');
                });

            });

        });



        $(document).on('change', '#CategoryId', function () {
            $('#modelId option:not(:first)').remove();
            var CategoryId = $(this).val();
            if (CategoryId != "") {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("LoadProductByCategory", "JsonList")',
                    data: { param: CategoryId },
                    //datatype: "json",
                    success: function (data) {
                        console.log(data);
                        if (data && data.length > 0) {
                            $.each(data, function (i, model) {
                                $("#ProductId").append('<option value="'
                                    + model.Value + '">'
                                    + model.Text + '</option>');
                            });
                        }
                    },
                    error: function (ex) {
                        //something later
                    }
                });
            }
        });
    </script>
}

