﻿@using ERP.REPOSITORIES.Helper
@model ERP.INFRASTRUCTURE.PartialProduct
<script>
    function OnSuccess() {
    }

    function OnFailure() {

    }

    var formValidate = { 'IsChecked': true, 'validateStr': "ProductName^ProductCode" };

    $(document).ready(function () {
        var isFailed = "@(ViewBag.response.MessageType != 1)";
        console.log(isFailed);
        if (isFailed=="True") {
            alertify.error("@(ViewBag.response.MessageData)");
        }
    });
</script>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="closeModal">X</button>
            <h3>Item Changing</h3>
        </div>
        <div class="addclass"></div>
        @using (Html.BeginForm("SaveProductSettings", "Inventory", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {

            <div class="form-horizontal">
                @Html.HiddenFor(model => model.Id)
                @*@Html.HiddenFor(model => model.CategoryId)*@
                @Html.ValidationSummary(true)

                <div class="row">
                    <div class="control-label col-sm-4">Item Name</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.ProductName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.CategoryId)</div>
                    <div class="col-sm-8">
                        @Html.DropDownListFor(x => x.CategoryId, new SelectList(ViewBag.CategoryList, "Value", "Text"), new { @class = "form-control", @id = "CategoryId" })
                        @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="control-label col-sm-4">Item Number</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.ProductCode, new { @class = "form-control", @type = "number" })
                    </div>
                </div>

                <div class="row">
                    <div class="control-label col-sm-4">@Html.DisplayNameFor(x => x.SellingPrice)</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.SellingPrice, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="control-label col-sm-4">Picture</div>
                    <div class="col-sm-8">
                        @Html.TextBoxFor(x => x.ProductIamge, new { @class = "form-control", @type = "file" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="pull-right col-md-10">
                    <input type="submit" class="btn btn-primary" value="Save" />
                </div>
            </div>
        }
    </div>
</div>