﻿@{
    ViewBag.Title = "Area List";
}
<script>
    param = '';
    url = 'SaveArea';
</script>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Area List</h3>
    <div class="btn-add-partial">
        <button class="btn btn-info" onclick="loadPartial(param,url);">Add Area</button>
    </div>
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables">
                            <thead>
                                <tr>
                                    <th>Area Name</th>
                                    <th>Expense</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.AreaList != null)
                                {
                                    foreach (var item in ViewBag.AreaList)
                                    {
                                        <tr>
                                            <td>@item.AreaName</td>
                                            <td>@item.Expense</td>
                                            <td>
                                                <abbr title="Edit">
                                                    <button class="btn btn-default" onclick="loadPartial(@item.Id,url);"><i class="fa fa-pencil fa-fw"></i></button>
                                                </abbr>
                                                <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@item.Id,'DeleteArea')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>