﻿@model IEnumerable<ERP.INFRASTRUCTURE.Employee>

@{
    ViewBag.Title = "Employee List";
}
<script>
    param = '';
    url = 'SaveEmployee';
</script>
<div class="panel-heading">
    <h3 class="panel-title"><i class="fa fa-archive"></i> Employee List</h3>
    <div class="btn-add-partial">
        <button class="btn btn-info" onclick="loadPartial(param,url);">Add Employee</button>
    </div>
</div>
<div class="panel-body minHeight">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class=" table table-striped table-bordered table-hover datatables">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Code</th>
                                    <th>Designation</th>
                                    <th>Department</th>
                                    <th>Location</th>
                                    <th>BasicSalary</th>
                                    <th>HouseRent</th>
                                    <th>MobileAllowance</th>
                                    <th>TransportCost</th>
                                    <th>IsSR</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewBag.EmployeeList != null)
                                {
                                    foreach (var employee in ViewBag.EmployeeList)
                                    {
                                        <tr>
                                            <td>@employee.EmployeeName</td>
                                            <td>@employee.EmployeeCode</td>
                                            <td>@employee.Designation</td>
                                            <td>@employee.Department</td>
                                            <td>@employee.Location</td>
                                            <td>@employee.BasicSalary</td>
                                            <td>@employee.HouseRent</td>
                                            <td>@employee.MobileAllowance</td>
                                            <td>@employee.TransportCost</td>
                                            @if (employee.IsSR == false || employee.IsSR == null)
                                            {
                                                <td>No</td>
                                            }
                                            @if (employee.IsSR == true)
                                            {
                                                <td>Yes</td>
                                            }
                                            <td>
                                                <abbr title="Edit">
                                                    <button class="btn btn-default" onclick="loadPartial(@employee.Id,url);"><i class="fa fa-pencil fa-fw"></i></button>
                                                </abbr>
                                                <abbr title="Delete"><button class="btn btn-default " onclick="ConfirmDelete(@employee.Id,'DeleteEmployee')"> <i class="fa fa-trash-o fa-fw"></i></button></abbr>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>

                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-sm-12 -->
    </div>
    <!-- /.row -->
</div>